.home {
    position: relative;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 7%;
    background-color: rgba(127, 255, 212, 0.85);
}

.home-emoji {
    grid-area: emoji;
    width: 70px;
    height: 70px;
    margin: 30px;
    object-fit: cover;
}

.no-dot li :hover{
    transform: rotate(-45deg);
}

.no-dot {
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 1fr));
}

.home-h1 {
    background-color: rgba(255, 255, 255, 0.55);
}