.homelist {
    display: grid;  
    grid-template-columns: repeat(auto-fill,300px 300px 300px);
    grid-template-rows: repeat(auto-fill);
    margin-top: 90px;
    padding-left: 15%;
    padding-right: 13%;
    grid-gap: 10%;
    justify-content: center;
    margin-bottom: 19%;
}

.contentsbox-list {
    width: 300px;
    height: 350px;
    object-fit: cover;
    z-index: 1;  
    
}

.homelist li a{
    text-decoration: none;
}

.homelist li a :hover{  
    background-color: rgba(245, 191, 158, 0.356);
  }