.home-color{
    background-color: rgba(127, 255, 212, 0.85);
    padding-bottom: 0cap;
    height: 100%;
}

.main-header {
    top: 0cap;
    padding-top: 12px;
    padding-right: 30px;
    padding-bottom: 90px;
    display: flex;
    justify-content: right;
}

.emoji-box {
    display: flex;
    padding-left: 30%;
    padding-right: 30%;
    justify-content: space-around;
    align-items: center;
}

.header-emoji {
    width: 40px;
    height: 40px;
}

h1 {
    width: 800px;
    height: 60px;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    margin-bottom: 7px;
    border-radius: 15px;
    border: 4px outset rgb(245, 158, 158);
}

li {
    display: inline;
    text-align:center;
    text-decoration: none;
    padding: 10px;
    margin: 7px;
}

.textInput {
    background-color: rgb(180, 180, 180);
    border: none;
    width: 200px;
    height: 31px;
    padding-right: 43px;
    visibility: hidden;
}

.header-emoji:checked~.textInput {
    visibility: hidden;
}

.textInput {
    visibility: visible;
}

ul {
    padding: auto;
    background-color: white;
    border-radius: 70px;
}

/* a {
    border: 1px solid violet;
} */

