.main-header {
    top: 0cap;
    padding-top: 12px;
    padding-right: 30px;
    margin-bottom: 25px;
    display: flex;
    justify-content: right;
}

.emoji-box {
    display: flex;
    padding-left: 30%;
    padding-right: 30%;
    justify-content: space-around;
    align-items: center;
}

.header-emoji {
    width: 40px;
    height: 40px;
}

h1 {
    width: 700px;
    height: 50px;
    background-color: rgb(180, 180, 180);
    text-align: center;
    margin: 0 auto;
    margin-bottom: 12px;
    border-radius: 15px;
}

li {
    display: inline;
    text-align:center;
    text-decoration: none;
}

.textInput {
    background-color: rgb(180, 180, 180);
    border: none;
    width: 200px;
    height: 31px;
    padding-right: 43px;
    visibility: hidden;
}

.header-emoji:checked~.textInput {
    visibility: hidden;
}

.textInput {
    visibility: visible;
}

/* a {
    border: 1px solid violet;
} */